%mp:layout tools
%mp:title 编辑器 v0.35 - #{escape_title(@mindmap)}


= stylesheet_link_tag '/stylesheets/mindmap_mouse_right_menu'
= stylesheet_link_tag '/javascripts/pie/mindmap/css/mindmap_editor_page'
= stylesheet_link_tag '/javascripts/pie/mindmap/css/mindmap_canvas'
= stylesheet_link_tag '/javascripts/starbox/css/starbox'

= javascript_include_tag 'pie/mindmap/pie_dragdrop'
= javascript_include_tag 'pie/mindmap/pie_mindmap_node_dragdrop'
= javascript_include_tag 'pie/mindmap/pie_map_menu'
= javascript_include_tag 'pie/mindmap/pie_mindmap'
= javascript_include_tag 'pie/mindmap/pie_mindmap_node_editor'
= javascript_include_tag 'pie/mindmap/pie_opfactory'

= javascript_include_tag 'starbox/js/starbox'
= javascript_include_tag 'nicedit/nicEdit'
= javascript_include_tag 'excanvas/excanvas'
= javascript_include_tag 'views/time_keeper'

:javascript
  var mindmap;
  pie.load(function(){
    var mindmap_id = '#{@mindmap.id}';
    $("mindmap-canvas").update('');

    mindmap = new pie.mindmap.BasicMapPaper("mindmap-canvas",{
      id:mindmap_id,
      loader: new pie.mindmap.JSONLoader({
        url:'/#{APP_PREFIX}/mindmaps/' + mindmap_id
      }),
      editmode: true,
      after_load:function(){
        mindmap.root.select();
      },
      save_status_label:$("save_status")
    }).load();

    mindmap_shadow_resize();
    Event.observe(window,"resize",mindmap_shadow_resize);

    show_comments();
  })

  function mindmap_shadow_resize(){
    var DOUBLE_SHADOW_BORDER_WIDTH = 8;
    var height = document.viewport.getHeight();
    var width = document.viewport.getWidth() - 250;
    $('mindmap-shadow').style.height = height - DOUBLE_SHADOW_BORDER_WIDTH  + 'px';
    $('mindmap-shadow').style.width = width - DOUBLE_SHADOW_BORDER_WIDTH + 'px';

    var DOUBLE_SCROLLER_BORDER_WIDTH = 10;
    $('mindmap-scroller').style.height = height - DOUBLE_SCROLLER_BORDER_WIDTH + 'px';
    $('mindmap-scroller').style.width = width - DOUBLE_SCROLLER_BORDER_WIDTH + 'px';
  }

  function show_comments(){
    new Ajax.Updater("comments-list","/#{APP_PREFIX}/mindmaps/#{@mindmap.id}/comments",{
      method:'GET',
      onCreate:function(){
        $("comments-list").update('<div class="loading"></div>');
      }
    });
  }

  new TimeKeeper("#{API_SITE}/#{APP_PREFIX}/mindmaps/ajax_test");

#mindmap-sidebar.grid_6.fright.clearfix.marginr10
  %mp:accordion{:active_bgc=>"#E0542F",:bgc=>"#0B6138"}

    %mp:accordion-item{:title=>"基本信息",:bgc=>"#98BC48",:open=>"true"}
      #base_info
        =render :partial=>'mindmaps/edit/base_info'

    %mp:accordion-item{:title=>"网络状况显示",:bgc=>'#ADC96D',:open=>"true"}
      #net_condition
        .last_respond
          %span.time_label 上次响应时间（毫秒）:
          %span.time 0
        .average_respond
          %span.time_label 平均响应时间（毫秒）:
          %span.time 0

    %mp:accordion-item{:title=>"数据导出",:bgc=>'#ADC96D'}
      #mindmap-export
        =render :partial=>'mindmaps/edit/export'

    %mp:accordion-item{:title=>"备注编辑",:bgc=>'#C1D791',:open=>"true"}
      #note_editor.margint5.marginb5.clearfix
        %div{:style=>'background-color:#FBF2C1;color:#222;'}
          %textarea#mindmap-note-edit{:style=>'width:228px !important;display:none;'}
    %mp:accordion-item{:title=>"互动",:bgc=>"#98BC48",:open=>"true"}
      .clearfix

        #comments
          %h3 评论：
          #comments-list

        =render :partial=>"/comments/form_comment"
    -if @mindmap.rank.to_i != 0
      %mp:accordion-item{:title=>"相关导图",:bgc=>"#98BC48",:open=>"true"}
        =render :partial=>"mindmaps/parts/relative_mindmaps",:locals=>{:mindmap=>@mindmap}

#mindmap-shadow
  #mindmap-scroller
    #mindmap-canvas

=render :partial=>'mindmaps/edit/imgselector'