= stylesheet_link_tag "/stylesheets/outline"
= javascript_include_tag 'views/outline_tree'

%mp:layout tools

- hash = @mindmap.struct_hash
- children = @mindmap.struct_hash[:children]
- layer_count ||= 0
%div{:style=>"overflow-y:scroll;height:100%;background-color:#FFFFFF;color:#222222"}
  %ul{:for=>"node",:class=>"mplist_nodes ",:id=>"list_#{@mindmap.id}"}
    %li{:id=>"node_#{hash[:id]}"}
      .outline_title_and_sign
        %span.outline_title= node_title_to_br(hash[:title])
      = render :partial=>"/mindmaps/child_node",:locals=>{:children=>children,:layer_count=>layer_count + 1}


:javascript
  pie.load(function(){
    new OutlineTree("list_#{@mindmap.id}","#{APP_PREFIX}");
  })