- mapid = mindmap.id

%mp:show-box{:box_id=>"paramsedit_mindmap_#{mapid}"}
  .infoedit-link
  %div 属性

%mp:box{:id=>"paramsedit_mindmap_#{mapid}"}

  %mp:box-title
    = "修改 #{escape_title(mindmap)}"

  %mp:box-content
    =render :partial=>"/mindmaps/form/form",:locals=>{:form_id=>"edit_mindmap_form_#{mapid}",:mindmap=>mindmap,:new=>false,:button_name=>"确认以上修改"}

  %mp:box-button{:value=>"保存修改",:close_box=>"true",:form_id=>"edit_mindmap_form_#{mapid}",:ajax_list_id=>"mplist_user_#{current_user.id}_mindmaps",:ajax=>"iframe"}