- mapid = mindmap.id

%mp:show-box{:box_id=>"clone_link_mindmap_#{mapid}"}
  .clone-link
  %div 克隆

%mp:box{:id=>"clone_link_mindmap_#{mapid}"}

  %mp:box-title
    = "克隆 #{escape_title(mindmap)}"

  %mp:box-content
    -form_for [:clone,mindmap],:html=>{:id=>"clone_mindmap_#{mapid}"} do |t|
      %span 克隆后的名称
      =t.text_field :title,:value=>mindmap.title

  %mp:box-button{:value=>"创建克隆",:form_id=>"clone_mindmap_#{mapid}",:close_box=>"true",:ajax_list_id=>"mplist_user_#{current_user.id}_mindmaps",:ajax=>"true"}