- mapid = mindmap.id

%mp:show-box{:box_id=>"convert_bundle_link_mindmap_#{mapid}"}
  .convert_bundle-link
  %div 转发讨论

%mp:box{:id=>"convert_bundle_link_mindmap_#{mapid}"}

  %mp:box-title
    = "转发讨论 #{escape_title(mindmap)}"

  %mp:box-content
    -form_for [:convert_bundle,mindmap],:html=>{:id=>"convert_bundle_mindmap_#{mapid}"} do |t|
      %span 选择工作空间
      =select_tag("workspace_id",options_for_select(@workspaces.map{|hash|[hash["name"],hash["id"]]}))

  %mp:box-button{:value=>"转发讨论",:form_id=>"convert_bundle_mindmap_#{mapid}",:close_box=>"true",:ajax_list_id=>"mplist_user_#{current_user.id}_mindmaps",:ajax=>"true"}