= javascript_include_tag 'swfobject'
=render :partial=>'layouts/nav',:locals=>{:active=>'趋势与统计'}
= open_flash_chart_object('100%',250, "#{THIS_SITE}/users/#{params[:user_id]}/mindmaps/pie_links",true,"#{THIS_SITE}/")
